body {
  background-color: #16a085;
  font-family: 'Open Sans', sans-serif;;
}

button {
  width: 50px;
  height: 35px;
}

table {
  margin-top: 100px;
  position: absolute;
}

div.container {
  display: table;
  position: relative;
  background: #3D9970;
  width: 250px;
  height: 300px;
  margin-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;
  box-shadow: 5px 8px #3D9370;
}

.footer {
  position: fixed;
  height: 4%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.btn {
  border: 1px solid #7f8c8d;
  color: #001f3f;
  background-color: #AAAAAA;
  box-shadow: 3px 2px #7f8c8d;
}
#input {
  width: 200px;
  margin-top: 50px;
  position: absolute;
  text-align: right;
  border: 1px solid #7f8c8d;
  box-shadow: 1px 1px #7f8c8d;
  background-color: #AAAAAA;
}